body {
  background: #A2DED0;
}

.layout {
  width: 100%;
  display: table;
  min-height: 500px;

  .layout__coll {
    display: table-cell;
    padding: 5px;
  }

  .layout__coll_width_70 {
    width: 70%;
  }

  .layout__coll_width_30 {
    width: 30%;
  }

  .layout__caption {
    display: table-caption;
  }
}
